
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'rails.validations' %>
<%= stylesheet_link_tag 'scaffold', :media => "all" %>

<%= form_for @user, :validate => true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :Password_Confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :DOB %><br />
    <%= f.text_field :dob %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.select(:permission, [['Admin', 'admin'], ['User', 'user']]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
