<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'rails.validations' %>
<%= stylesheet_link_tag 'scaffold', :media => "all" %>

<%= form_for @user_profile , :validate => true do |f| %>
  <% if @user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% @user_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :Profile_Name %><br />
    <%= f.text_field :profile_name %>
  </div>
 
 <div class="field">
    <%= f.label :gender %><br />
    <%= f.radio_button(:gender, 'Male') %> Male
    <%= f.radio_button(:gender, 'Female') %> Female
 </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :size=>'25x4' %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
