<%= form_for(@sub_category) do |f| %>
  <% if @sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

      <ul>
      <% @sub_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.radio_button(:category_id, 1) %> Indian
    <%= f.radio_button(:category_id, 2) %> Chineese
    <%= f.radio_button(:category_id, 3) %> Continental
  </div>
  <div class="field">
    <%= f.label :sub_category %><br />
    <%= f.text_field :sub_category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
