<h1>Listing Sub Categories</h1>

<table cellpadding="10px" cellspacing="0" border="1">
  <tr>
    <th>Category</th>
    <th>Sub Category</th>
    <th colspan="3">Actions</th>
  </tr>

<% @sub_categories.each do |sub_category| %>
  <tr>
    <td><%= sub_category.category_id %></td>
    <td><%= sub_category.sub_category %></td>
    <td><%= link_to 'Show', sub_category %></td>
    <td><%= link_to 'Edit', edit_sub_category_path(sub_category) %></td>
    <td><%= link_to 'Destroy', sub_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sub category', new_sub_category_path %>
